.GalleryCarousel {
  border: 3px solid #ae7705;
  background: #d69100;
  margin-bottom: 50px;
  width: 100%;
}

.innerContainer {
  margin: 20px;
  background: linear-gradient(to bottom, #ffd457 0%, #fec10b 100%);
  background-image: linear-gradient(
    rgb(255, 212, 87) 0%,
    rgb(254, 193, 11) 100%
  );

  border: 3px solid #ae7705;
}

.topFlowerBg {
  background: url(../../Images/top-pattern.jpg) repeat-x top left;
}

.leftLeavesBg {
  background: url(../../Images/left-pattern.png) repeat-y top left;
}

.bottomDesignFlower {
  background: url(../../Images/btm-flower-bg.png) no-repeat bottom center;
  height: 75px;
  width: 100%;
}

.GalleryCarouselContainer {
  width: 100%;
  padding: 40px;
}

.galleryslide {
  max-width: 100%;
}

@media screen and (max-width: 967px) {
  .innerContainer {
    margin: 2px;
    border: none;
  }
}
